*{
	box-sizing: border-box;
}	


h1{
	text-align: center;
	font-family: "Palatino Linotype"
	}


.container{
margin: 15px;
}

.row{
width: 100%;
}

.col-med-4{
	width: 465px;	
	height: 170px;
	padding-top: 55px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	border:  5px;
	border-color: black;
	border-style: solid;
	margin: 1%;
	margin-top: 60px;
	background-color: #D3D3D3;



}

.small-box{
	float: right;
	margin-top: -55px;
	margin-right: -20px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 145px;
	height: 40px;
	padding-top: 5px;
	padding-bottom: 7px;
	border-left: 3px;
	border-right: 0px;
	border-bottom: 3px;
	border-top: 0px;
	border-color: black;
	border-style: solid;
	text-align: center;
	font-size: 20px;
		
}

.small-box-pink{
	background-color: #FA8072;
	font-weight: bold;
	font-family: "Palatino Linotype"
	}

.small-box-red{
	background-color: #FF3F33;
	color: white;
	font-weight: bold;
	font-family: "Palatino Linotype"

}

.small-box-yellow{
	background-color: #FFE033; 
	font-weight: bold;
	font-family: "Palatino Linotype"
	}

@media (min-width: 992px){
	.col-med-4{
		width:31.33%;
		float: left;
		overflow: auto;
		
	}
	
}

@media (min-width: 768px) and (max-width: 991px)
{
	.col-med-6{
		float: left;
		width: 48%;
		
	}
	
	#Sushi{
		clear: all;
		width: 100%;
	}
}

@media (max-width: 767px)
{
	.col-med-1{
		float: left;
		width: 99%
	}

}